# Binaries
*.exe

# Build artifacts
build_err.txt
build_exit.txt
windres_err.txt
*.exe~
*.dll
*.so
*.dylib

# Test artifacts
*.test
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories
# vendor/

# Go workspace
go.work
go.work.sum

# Env
.env

# IDE
.vscode/
.idea/

# Windows OS artifacts
Thumbs.db
desktop.ini
